{% extends "template.html" %}
{% block conteudo %}
    <ul>
       <li><h2><a href="{{ url_for('aeroporto') }}">Aeroporto</a></h2></li>
       <li><h2><a href="{{ url_for('voo') }}">Voo</a></h2></li>
       <li><h2><a href="{{ url_for('trecho_voo') }}">Trecho do Voo</a></h2></li>
       <li><h2><a href="{{ url_for('tarifa') }}">Tarifa</a></h2></li>
       <li><h2><a href="{{ url_for('tipo_aeronave') }}">Tipo da Aeronave</a></h2></li>
       <li><h2><a href="{{ url_for('pode_pousar') }}">Pode Pousar</a></h2></li>
       <li><h2><a href="{{ url_for('reserva_assento') }}">Reserva Assento</a></h2></li>
       <li><h2><a href="{{ url_for('aeronave') }}">Aeronave</a></h2></li>
       <li><h2><a href="{{ url_for('buscar_assento') }}">Buscar Assento (Stored Procedure)</a></h2></li>
    </ul>
{% endblock %}