{% extends "template.html" %}
{% block conteudo %}
    {% if trecho_voo %}
    <form action="{{ url_for('atualizar_trecho_voo') }}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="numero_trecho" value="{{ trecho_voo.numero_trecho }}">
    <div class="row">
        <div class="col-md-2">
            <label for="numero_voo">Número do Voo:</label>
            <select name="numero_voo" id="numero_voo" value="{{ trecho_voo.numero_voo }}">
                {% for voo in voos %}
                    <option value="{{ voo.numero_voo }}">{{ voo.numero_voo }}</option>
                {% endfor %}
              </select>
          </div>
        <div class="col-md-2">
            <label for="codigo_aeroporto_partida">Aeroporto de Partida:</label>
            <select name="codigo_aeroporto_partida" id="codigo_aeroporto_partida" value="{{ trecho_voo.codigo_aeroporto_partida }}">
                {% for aeroporto in aeroportos %}
                    <option value="{{ aeroporto.codigo_aeroporto }}">{{ aeroporto.codigo_aeroporto }}</option>
                {% endfor %}
              </select>
        </div>
        <div class="col-md-2">
          <input type="text" id="horario_partida_previsto" name="horario_partida_previsto" class="form-control" placeholder="Hórario de Partida Previsto" value="{{ trecho_voo.horario_partida_previsto }}">
        </div>
        <div class="col-md-2">
            <label for="codigo_aeroporto_chegada">Aeroporto de Chegada:</label>
            <select name="codigo_aeroporto_chegada" id="codigo_aeroporto_chegada" value="{{ trecho_voo.codigo_aeroporto_chegada }}">
                {% for aeroporto in aeroportos %}
                    <option value="{{ aeroporto.codigo_aeroporto }}">{{ aeroporto.codigo_aeroporto }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-2">
            <input type="text" id="horario_chegada_previsto" name="horario_chegada_previsto" class="form-control" placeholder="Hórario de Chegada Previsto" value="{{ trecho_voo.horario_chegada_previsto }}">
          </div>
        <button type="submit" class="btn btn-primary btn-salvar col-md-1">Salvar</button>
        <a href="/trecho_voo" class="btn btn-primary col-md-1" role="button">Voltar</a>
      </div>
    </form>
    
    {% else %}
    <form action="{{ url_for('criar_trecho_voo') }}" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-2">
            <label for="numero_voo">Número do Voo:</label>
            <select name="numero_voo" id="numero_voo">
                {% for voo in voos %}
                    <option 
                    value="{{ voo.numero_voo }}">
                    {{ voo.numero_voo }}
                    </option>
                {% endfor %}
            </select>
          </div>
      <div class="col-md-2">
        <label for="codigo_aeroporto_partida">Aeroporto de Partida:</label>
            <select name="codigo_aeroporto_partida" id="codigo_aeroporto_partida">
                {% for aeroporto in aeroportos %}
                    <option value="{{ aeroporto.codigo_aeroporto }}">{{ aeroporto.codigo_aeroporto }}</option>
                {% endfor %}
              </select>
      </div>
      <div class="col-md-2">
        <input type="text" id="horario_partida_previsto" name="horario_partida_previsto" class="form-control" placeholder="Horário de Partida Previsto">
      </div>
      <div class="col-md-2">
        <label for="codigo_aeroporto_chegada">Aeroporto de Chegada:</label>
            <select name="codigo_aeroporto_chegada" id="codigo_aeroporto_chegada">
                {% for aeroporto in aeroportos %}
                    <option value="{{ aeroporto.codigo_aeroporto }}">{{ aeroporto.codigo_aeroporto }}</option>
                {% endfor %}
            </select>
      </div>
      <div class="col-md-2">
        <input type="text" id="horario_chegada_previsto" name="horario_chegada_previsto" class="form-control" placeholder="Horário de Chegada Previsto">
      </div>
      <button type="submit" class="btn btn-primary btn-salvar col-md-2">Salvar</button>
    </div>
    </form>
    
    {% endif %}
        <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>Número do Trecho</th>
                    <th>Número do Voo</th>                    
                    <th>Código do Aeroporto de Partida</th>
                    <th>Horário de Partida Previsto</th>
                    <th>Código do Aeroporto de Chegada</th>
                    <th>Horário de Chegada Previsto</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for trecho_voo in trecho_voos %}
                <tr>
                    <td>{{ trecho_voo.numero_trecho }}</td>
                    <td>{{ trecho_voo.numero_voo }}</td>
                    <td>{{ trecho_voo.codigo_aeroporto_partida }}</td>
                    <td>{{ trecho_voo.horario_partida_previsto }}</td>
                    <td>{{ trecho_voo.codigo_aeroporto_chegada }}</td>
                    <td>{{ trecho_voo.horario_chegada_previsto }}</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="{{ url_for('trecho_voo', id=trecho_voo.numero_trecho) }}">Editar</a>
                        <a class="btn btn-danger btn-sm" href="{{ url_for('deletar_trecho_voo', id=trecho_voo.numero_trecho) }}">Deletar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}